@import 'antd/dist/antd.css'; // or 'antd/dist/antd.less'

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
	height: 100vh !important;
	width: 100% !important;
	background-color: #fafafa;
}

.login-card {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fafafa;
}

.card-align {
	border: 2px solid #f0f0f0;
	border-radius: 15px;
}

.text-align-centre {
	text-align: center;
}

.otp-text {
	max-height: 100px;
	max-width: 50px;
	min-height: 60px;
	min-width: 50px;
	border-radius: 5px;
	background-color: #fafafa;
}

.input-row {
	width: 50%;
}
.button-width {
	width: 100%;
	border-radius: 10px;
	min-height: 40px;
	background: #6c22f9;
	color: #ffffff;
	font-size: 1.2em;
}

.button-align {
	width: 100%;
}

.card-styling {
	max-width: 25%;
}

.ant-avatar > img {
	object-fit: contain;
}

.ant-avatar {
	width: 12% !important;
}

@media only screen and (max-width: 480px) {
	.card-styling {
		max-width: 85% !important;
	}
	.ant-avatar {
		width: 40% !important;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.card-styling {
		max-width: 65% !important;
	}
	.ant-avatar {
		width: 30% !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.card-styling {
		max-width: 45%;
	}
	.ant-avatar {
		width: 20% !important;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.card-styling {
		max-width: 45% !important;
	}

	.ant-avatar {
		width: 12% !important;
	}
}
